.racer {
  position: relative;

  .position {
    display: inline-block;
    margin-right: 1em;
  }

  .name {
    font-size: 1.2em;
  }

  .avatar {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-43%);
    vertical-align: middle;
    cursor: pointer;
  }
}
