.racer {
  position: relative;
  display: grid;
  place-items: center;
  z-index: 1;
  height: 100%;

  .avatar {
    display: grid;
    place-items: center;

    &.is-alive {
      cursor: pointer;
    }

    &.is-dead {
      cursor: not-allowed;
      filter: grayscale(0.8);
    }
  }
}

.mat-badge-content {
  border-radius: 0;
}