figure {
    display: inline-block;
    width: 75px;
    height: 75px;
    margin: 0;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: #b4e28a8f;

    img {
        height: 100%;
    }
}