figure {
    display: inline-block;
    width: 75px;
    height: 75px;
    margin: 0;
    text-align: center;
    overflow: hidden;
    background-color: #b4e28a;

    @media screen and (min-width: 500px) {
        border-radius: 50%;
    }

    img {
        height: 100%;

        @media screen and (max-width: 500px) {
            width: 100%;
          }
    }
}