figure {
    display: inline-block;
    height: 100%;
    max-height: 12vh;
    max-width: 25vw;
    margin: 0;
    text-align: center;
    overflow: hidden;

    &.is-alive {
        background-color: #b4e28a;
    }

    @media screen and (min-width: 500px) {
        border-radius: 50%;
    }

    img {
        height: 100%;

        @media screen and (max-width: 500px) {
            width: 100%;
          }
    }
}