<div class="content">
  <mat-tab-group color="accent">
    <mat-tab label="Helicam">
      <ng-template matTabContent>
        <div class="tab-content">
          <app-rule-table class="rule-table" [rules]="helicam_rules"></app-rule-table>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="Maneuver">
      <ng-template matTabContent>
        <div class="tab-content">
          <app-rule-table class="rule-table" [rules]="maneuver_rules"></app-rule-table>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="Special Rolls 🎲">
      <ng-template matTabContent>
        <div class="tab-content">
          <mat-expansion-panel hideToggle *ngFor="let roll of special_rolls" class="accent-border">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ roll.title }}
              </mat-panel-title>
              <mat-panel-description>
                {{ roll.description }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ol>
              <li *ngFor="let content of roll.content">{{ content }}</li>
            </ol>
          </mat-expansion-panel>
        </div>
      </ng-template>
    </mat-tab>
    
  </mat-tab-group>
</div>
