.title {
    text-transform: uppercase;
}

.content {
    overflow: hidden;
    height: calc(100vh - 5em);
}

.tab-content {
    padding: 0 12px;
    height: calc(100vh - 8.5em);
    overflow-y: auto;
}