<mat-table [dataSource]="rules">
  <!-- Move Column -->
  <ng-container matColumnDef="move">
    <th mat-header-cell *matHeaderCellDef class="cell move">Move</th>
    <td mat-cell *matCellDef="let element" class="cell move">
        <h4>{{ element.move }}</h4>
    </td>
  </ng-container>

  <!-- Rolls Column -->
  <ng-container matColumnDef="rolls">
    <th mat-header-cell *matHeaderCellDef class="cell rolls">Rolls</th>
    <td mat-cell *matCellDef="let element" class="cell rolls">
      <span *ngFor="let item of element.rolls | keyvalue; let last = last">
        <h4>{{ item.key }}</h4>
        <span [innerHtml]="getSanitizedHtml(item.value)"></span>
        <mat-divider *ngIf="!last"></mat-divider>
      </span>
    </td>
  </ng-container>

  <!-- Outcome Column -->
  <ng-container matColumnDef="outcome">
    <th mat-header-cell *matHeaderCellDef class="cell outcome">Outcome</th>
    <td mat-cell *matCellDef="let element" class="cell outcome">
      <h4 *ngIf="element.outcome.success" class="success">Success</h4>
      <span *ngIf="element.outcome.success" [innerHtml]="getSanitizedHtml(element.outcome.success)">
      </span>
      <mat-divider *ngIf="element.outcome.failure"></mat-divider>
      <h4  *ngIf="element.outcome.failure" class="failure">Failure</h4>
      <span *ngIf="element.outcome.failure"  [innerHtml]="getSanitizedHtml(element.outcome.failure)">
      </span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</mat-table>
