.mat-table {
    display: table;
    width: 100%;
}

th.cell {
    padding: 6px !important;
    padding-right: 0 !important;
}

td.cell {
    padding: 0 6px !important;
}

tr.mat-header-row {
    height: auto;
}