<mat-card class="sheet">
    <div cdkDropList class="list" [cdkDropListData]="first_col" #first="cdkDropList" (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[second,third,fourth]">
      <div class="box" *ngFor="let racer of first_col" cdkDrag [cdkDragDisabled]="!racer.isAlive" (dblclick)="handleDoubleClick(racer)">
        <app-racer [position]="indexOf(racer)" [racer]="racer" (editTriggered)="editTriggered($event)"></app-racer>
      </div>
    </div>
    
    <div cdkDropList class="list" [cdkDropListData]="second_col" #second="cdkDropList" (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[first,third,fourth]">
      <div class="box" *ngFor="let racer of second_col" cdkDrag [cdkDragDisabled]="!racer.isAlive" (dblclick)="handleDoubleClick(racer)">
        <app-racer [position]="indexOf(racer)" [racer]="racer" (editTriggered)="editTriggered($event)"></app-racer>
      </div>
    </div>
    
    <div cdkDropList class="list" [cdkDropListData]="third_col" #third="cdkDropList" (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[second,first,fourth]">
      <div class="box" *ngFor="let racer of third_col" cdkDrag [cdkDragDisabled]="!racer.isAlive" (dblclick)="handleDoubleClick(racer)">
        <app-racer [position]="indexOf(racer)" [racer]="racer" (editTriggered)="editTriggered($event)"></app-racer>
      </div>
    </div>
    
    <div cdkDropList class="list" [cdkDropListData]="fourth_col" #fourth="cdkDropList" (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[second,third,first]">
      <div class="box" *ngFor="let racer of fourth_col" cdkDrag [cdkDragDisabled]="!racer.isAlive" (dblclick)="handleDoubleClick(racer)">
        <app-racer [position]="indexOf(racer)" [racer]="racer" (editTriggered)="editTriggered($event)"></app-racer>
      </div>
    </div>
</mat-card>