.content {
    padding: 24px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 24px;
    box-sizing: border-box;

    .mat-button:not(:last-of-type) {
        margin-right: 1em;
    }

    @media screen and (max-width: 500px) {
        position: fixed;
        width: 80vw;
        background-color: white;
    }
}