@media screen and (min-width: 500px) {
  .rules-button {
    position: absolute;
    top: 1em;
    left: 1em;
  }
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  min-width: 50vw;
  max-width: 90vw;

  &.large {
    width: 50vw;
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.main-container {
  height: calc(100vh - 5.75rem);
  width: 100%;
  box-sizing: border-box;
  margin: 1em 0;
  margin-bottom: 0;
  overflow-y: hidden;
}

.mat-drawer-content,
.mat-drawer-inner-container {
  overflow: hidden;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
