@media screen and (min-width: 500px) {
  .rules-button {
    position: absolute;
    top: 1em;
    left: 1em;
  }
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  min-width: 50vw;
  max-width: 90vw;

  &.large {
    width: 50vw;
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.main-container {
  height: calc(100vh - 7em);
  width: 100%;
  box-sizing: border-box;
  margin: 1em 0;

  @media screen and (min-width: 950px) {
    margin: 1em 0.5em;
    width: calc(100% - 1em);
  }
}
