figure {
    display: inline-block;
    width: 75px;
    height: 75px;
    margin: 0;
    text-align: center;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.87);
    background-color: #b4e28a8f;
    margin-bottom: 1em;
    margin-right: 1em;

    &.selected {
        border-color: #BB1717;
    }

    img {
        height: 100%;
    }
}