@keyframes blink {
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hint {
  display: inline-block;
  word-break: break-word;
  font-weight: 400;
  text-align: center;
  font-size: small;
  position: relative;
  text-transform: uppercase;
  line-height: normal;
  max-width: 99vw;

  @media screen and (min-width: 1000px) {
    max-width: 49vw;
    font-size: medium;
  }
  
  overflow-wrap: break-word;
  white-space: break-spaces;
  text-overflow: ellipsis;
  overflow: hidden;

  &:not(:empty):after {
    content: "|";
    position: absolute;
    top: 0;
    right: -5px;
    font-weight: bold;
    animation: blink 0.5s infinite;
  }
}
